<!DOCTYPE html>
<!-- th:replace will use "parent" fragment from "index" file -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Hello</title>
<!--    <title data-th-text="${loggedInUser.name}+' | Dashboard'">User</title>-->
</head>
<body>
<div id="content">
    <h1>User's dashboard</h1>

<a data-th-href="@{'/do-logout'}">Logout</a>
</div>
<script>
    console.log("About page")
</script>
</body>
</html>
