
<!-- data-th-classappend="'text-'+type+'-800 rounded-lg bg-'+type+'-50 dark:bg-gray-800 dark:text-'+type+'-400'" this classappend will change the alert message notification dinamically we used concatination technique

-->


<div
        data-th-if="${session.message}"
        data-th-object="${session.message}"
        data-th-fragment="alerMessage"
        data-th-classappend="'text-'+type+'-800 rounded-lg bg-'+type+'-50 dark:bg-gray-800 dark:text-'+type+'-400'"
        class="p-4 mb-4 text-sm "
        role="alert">
<!--    <span class="font-medium">Success alert!</span>-->
    <span data-th-text="*{content}"></span>

<!--    This will call the sessionHelper from SessionHelper and run removeMessage funtion to remove the message after the registration is done and new registration is opened-->
    <th:block data-th-text="${@sessionHelper.removeMessage()}"></th:block>
</div>