<div th:fragment="theme" xmlns:th="http://www.w3.org/1999/xhtml">
    <button
            id="change_theme"
            type="button"
            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <i class="fa-solid fa-circle-half-stroke"></i><span>Light</span></button>
</div>